<!DOCTYPE html>
<html>
<head>
  <title>Input - {{ disease }}</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <script src="/static/js/input.js"></script>
</head>
<body onload="renderInputs('{{ disease }}')">
  <div class="container">
    <h2>Enter details for {{ 'Breast Cancer' if disease == 'cancer' else 'Diabetes' }} Prediction</h2>
    <form action="/predict_{{ 'cancer' if disease == 'cancer' else 'diabetes' }}" method="post">
      <div id="form-fields"></div>
      <button type="submit">Predict</button>
    </form>
  </div>
</body>
</html>
